# requirements.txt (backend)
flask==3.0.2
flask-cors==4.0.0
langchain-community==0.0.28
transformers==4.39.3
huggingface-hub==0.20.3
sentence-transformers==2.2.2
python-dotenv==1.0.0
langchain==0.1.13
langchain-huggingface==0.0.4
faiss-cpu==1.7.4  # or faiss-gpu if using NVIDIA GPU
python-dotenv==1.0.0
uuid
